Options -Indexes 
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]
#RewriteRule /home   / [R=301,L]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header always set Strict-Transport-Security "max-age=31536000" env=HTTPS
</IfModule>

# ----> Rules defined for Redirection of url to www starts <----
